# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/
.envrc
.venv/

# VS Code
.vscode/

# AWS deployment artifacts
*.zip
*.egg-info/
*.dist-info/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Python bytecode cache
.pytest_cache/

# Secrets and local config
secrets.json
config.local.json
local.settings.ps1
*.ps1

# Lambda function libraries
    # Ignore everything in lf1 and lf2 folders except python code and requirements
backend/lf1/*
!backend/lf1/*.py
!backend/lf1/requirements.txt
backend/lf2/*
!backend/lf2/*.py
!backend/lf2/requirements.txt


# IDE/editor swap files
*.swp
*.swo


# Assignment data
CC_Spring2026_Assignment3.pdf
images/

# Gemini.md
GEMINI.md